<launch>

  <arg name="simulateGps" default="false"/>

  <!-- GPS driver simulated or emlid -->
  <group if="$(arg simulateGps)">
    <node  name="nav_sat_pub_gs" pkg="sensors" type="nav_sat_pub" respawn="true">
      <param name="frame_id" value="xiroi/gps"/>
      <param name="topic_name" value="sensors/gps_raw"/>
      <param name="use_ned_origin" value="true"/>
    </node>
  </group>

  <group unless="$(arg simulateGps)">
    <rosparam command="load" file="$(find xiroi)/config/emlid_gps.yaml" />
    <node name="emlid_driver" pkg="emlid_reach_tcp" type="emlid_driver.py" output="screen">
      <remap from="emlid_gps" to="sensors/gps_raw" />
      <remap from="/diagnostics" to="sensors/gps_diagnostics" />
    </node>
  </group>
</launch>
