<launch>
  <node pkg="m4atx_battery_monitor" type="m4atx_battery_monitor" name="m4atx" output="screen">
    <rosparam command="load" file="$(find xiroi)/config/m4atx.yaml"/>
    <remap from="battery_status_m4atx" to="sensors/battery"/>
  </node>
</launch>

<!-- if there are permissions problems with USB ATX ports run : sudo chmod a+rw /dev/bus/usb/001/003  or sudo chmod a+rw /dev/bus/usb/001/004
to fix the problem being sure that Microchip Technology, Inc is BUS 001 DEV 003  -->
