<launch>
  <arg name="simulation" default="false"/>
  <arg name="simGPS" default="false"/>
  <arg name="enableUSBL" default="true"/>

  <group unless="$(arg simulation)">
    <!--IMU-->
    <include file="$(find xiroi)/launch/modules/sensors/memsense_imu.launch"/>
    <!--ATX Power Source-->
    <include file="$(find xiroi)/launch/modules/sensors/m4atx.launch"/>
    <!--EMLID GPS:publishes /sensors/gps (/sensors/gps_buoy_emlid_raw)-->
    <include unless="$(arg simGPS)" file="$(find xiroi)/launch/modules/sensors/emlid_gps.launch"/>
    <include if="$(arg simGPS)" file="$(find xiroi)/launch/modules/sensors/sim_gps.launch"/>
    <!--USBL: publishes acoustic topics (/navigation/nav_sts_acoustic)-->
    <include if="$(arg enableUSBL)" file="$(find xiroi)/launch/modules/sensors/evologics_usbl.launch"/>
  </group>

  <group if="$(arg simulation)">
    <!--SIM SENSORS-->
    <rosparam command="load" file="$(find xiroi)/config/sim_sensors.yaml"/>
    <node name="sim_sensors" pkg="xiroi" type="sim_sensors.py" respawn="false" output="screen"/>
  </group>
</launch>
