<launch>
  <arg name="namespace_arg"       default="/xiroi" />
  <arg name="simulation"          default="false" />
  <arg name="enableUSBL"          default="true"/>
  <arg name="enableThrusters"     default="true"/>
  <arg name="enableTeleoperation" default="true"/>


  <!-- PLACE -->
  <arg name="place" default="rcd_mallorca.yaml"/>

  <group ns="$(arg namespace_arg)">

    <!-- VEHICLE FRAMES -->
    <rosparam command="load" file="$(find xiroi)/config/xiroi_frames.yaml"/>

    <!--DYNAMICS -->
    <include file="$(find xiroi)/launch/modules/dynamics.launch"/>

    <!--CONTROL-->
    <include file="$(find xiroi)/launch/modules/control.launch"/>

    <!--SENSORS-->
    <!--sudo nano /etc/rc.local-->
    <!--sudo chmod a+rw /dev/bus/usb/001/003-->
    <include file="$(find xiroi)/launch/modules/sensors.launch">
      <arg name="simulation" value="$(arg simulation)"/>
      <arg name="enableUSBL" value="$(arg enableUSBL)"/>
    </include>

    <!--THRUSTERS-->
    <include if="$(arg enableUSBL)" file="$(find xiroi)/launch/modules/bluerobotics_T200_arduino.launch"/>

    <!--TELEOPERATION-->
    <include if="$(arg enableTeleoperation)" file="$(find xiroi)/launch/modules/teleoperation.launch">
      <arg name="isGS" value="$(arg simulation)"/>
    </include>

    <!--SAFETY-->
    <node pkg="xiroi" type="safety_node.py" name="safety_node" output="screen"/>

    <!--TRANSFORMS-->
    <include file="$(find xiroi)/launch/modules/transforms.launch">
      <arg name="suffix" value="asc"/>
    </include>

    <!-- NED Origin -->
    <arg name="placesDir" default="$(find xiroi)/config/places"/>
    <rosparam command="load" file="$(arg placesDir)/$(arg place)"/>

    <!-- MULTIMASTER -->
    <node pkg="master_discovery_fkie" type="master_discovery" name="master_discovery" >
      <param name="_mcast_group" value="224.0.0.1"/>
    </node>
    <rosparam command="load" file="$(find xiroi)/config/master_sync/sync_xiroi.yaml"/>
    <rosparam command="load" file="$(find xiroi)/config/master_sync/sync_xiroi_topics.yaml"/>
    <node name="master_sync" pkg="master_sync_fkie" type="master_sync" output="screen"/>

  </group>
</launch>
