<launch>
  <arg name="namespace_arg"       default="/xiroi" />
  <arg name="simulation"          default="false" />
  <arg name="enableUSBL"          default="false"/>
  <arg name="enableMission"       default="false"/>
  <arg name="enableThrusters"     default="true"/>
  <arg name="enableTeleoperation" default="true"/>


  <!-- PLACE -->
  <arg name="place" default="rcd_mallorca.yaml"/>

  <group ns="$(arg namespace_arg)">

    <!-- VEHICLE FRAMES -->
    <rosparam command="load" file="$(find xiroi)/config/xiroi_frames.yaml"/>

    <!-- DYNAMICS -->
    <include if="$(arg simulation)" file="$(find xiroi)/launch/modules/dynamics.launch"/>

    <!-- LOCALIZATION -->
    <rosparam command="load" file="$(find xiroi)/config/robot_localization.yaml" />
    <node pkg="robot_localization" type="ekf_localization_node" name="ekf_map" clear_params="true">
      <remap from="odometry/filtered" to="odometry/filtered_map"/>
      <remap from="odometry/path" to="odometry/filtered_map/path"/>
    </node>

    <!-- PILOT -->
    <node name="device_monitor" pkg="xiroi" type="device_monitor.py" respawn="false" output="screen"/>
    <node name="follower" pkg="xiroi" type="follower.py" respawn="false" output="screen">
      <remap from="/goal" to="/navigation/nav_sts"/>
      <remap from="/goal" to="/navigation/nav_sts_acoustic"/>
    </node>

    <!-- MISSION -->
    <group if="$(arg enableMission)">
      <rosparam command="load" file="$(find xiroi)/config/mission.yaml" />
      <node name= "waypoint_mission_pub" pkg="xiroi" type="waypoint_mission_pub.py" respawn="false" output="screen">
        <remap from="/goal" to="/navigation/nav_sts"/>
      </node>
      <node name="nav_status" pkg="xiroi" type="nav_status.py" respawn="false" output="screen"/>
    </group>

    <!--SENSORS-->
    <!--sudo nano /etc/rc.local-->
    <!--sudo chmod a+rw /dev/bus/usb/001/003-->
    <include file="$(find xiroi)/launch/modules/sensors.launch">
      <arg name="simulation" value="$(arg simulation)"/>
      <arg name="enableUSBL" value="$(arg enableUSBL)"/>
    </include>

    <!--THRUSTERS-->
    <include if="$(arg enableThrusters)" file="$(find xiroi)/launch/modules/sensors/bluerobotics_T200_arduino.launch"/>

    <!--TELEOPERATION-->
    <include if="$(arg enableTeleoperation)" file="$(find xiroi)/launch/modules/teleoperation.launch">
      <arg name="isGS" value="$(arg simulation)"/>
    </include>

    <!--SAFETY-->
    <node pkg="xiroi" type="safety_node.py" name="safety_node" output="screen"/>

    <!--TRANSFORMS-->
    <include file="$(find xiroi)/launch/modules/transforms.launch">
      <arg name="suffix" value="asc"/>
    </include>

    <!-- NED Origin -->
    <arg name="placesDir" default="$(find xiroi)/config/places"/>
    <rosparam command="load" file="$(arg placesDir)/$(arg place)"/>

    <!-- MULTIMASTER -->
    <node pkg="master_discovery_fkie" type="master_discovery" name="master_discovery" >
      <param name="_mcast_group" value="224.0.0.1"/>
    </node>
    <rosparam command="load" file="$(find xiroi)/config/master_sync/sync_xiroi.yaml"/>
    <rosparam command="load" file="$(find xiroi)/config/master_sync/sync_all_topics.yaml"/>
    <node name="master_sync" pkg="master_sync_fkie" type="master_sync" output="screen"/>

  </group>
</launch>
