<launch>

  <!-- SIMULATION BAGFILES -->
<!--   <arg name="bagfile" default="/home/catamaran/xiroi_ws/bagfiles/auv170728_1237_2017-07-28-10-37-43_0.bag /home/catamaran/xiroi_ws/bagfiles/gs170728_1237_2017-07-28-12-37-42_0.bag" /> -->

  <!-- SIMULATION TIME -->
  <!-- <param name="use_sim_time" value="true"/>
  <node name="rosbag" pkg="rosbag" type="play" args="--clock $(arg bagfile)"/> -->

  <!-- OPERATION NODE -->
   <node respawn="true" pkg="xiroi" type="follower.py" output="screen" name="follower" />
   
   <!-- IMU NODE -->
  <include file="$(find xiroi)/launch/imu.launch"/>

    <!-- NED Origin -->
  <arg name="place" default="emissari.yaml"/>
  <arg name="placesDir" default="$(find xiroi)/config/places"/>
  <rosparam command="load" file="$(arg placesDir)/$(arg place)"/>  
  

  <!-- SIMULATION NODES -->
  <!-- GPS driver simulated or emlid -->
<!--   <arg name="simulateGps"  default="true"/>
  <group unless="$(arg simulateGps)">
    <rosparam command="load" file="$(find emlid_reach_tcp)/config/emlid_gps.yaml" />
    <node name="emlid_driver" pkg="emlid_reach_tcp" type="emlid_driver.py" output="screen">
      <remap from="/emlid_gps" to="/sensors/gps_buoy_emlid_raw" />
      <remap from="/diagnostics" to="/sensors/gps_buoy_emlid_diagnostics" />
    </node>
  </group> -->

  <!-- JOYSTICK -->
  <arg name="joystickDevice"  default="/dev/input/by-id/usb-Logitech_Wireless_Gamepad_F710_DA3D9191-joystick"/>

  <node respawn="true" pkg="joy" type="joy_node" name="joystick">
        <param name="dev" value="$(arg joystickDevice)"/>
        <param name="deadzone" value="0.05"/>
    </node>
    <node respawn="true" pkg="xiroi" type="logitech_joy.py" name="logitech_joy" />
    <node respawn="true" pkg="xiroi" type="joytosetpoints.py" name="joytosetpoints" />

  <!-- DYNAMICS -->
  <rosparam command="load" file="$(find xiroi)/config/robot_dynamics.yaml"/>
  <node name="robot_dynamics" pkg="xiroi" type="robot_dynamics.py" respawn="false"/>

  <!-- SIM SENSORS -->
  <rosparam command="load" file="$(find xiroi)/config/sim_sensors.yaml"/>
  <node name="sim_sensors" pkg="xiroi" type="sim_sensors.py" respawn="false" output="screen"/>
  
  <!-- VEHICLE FRAMES -->
  <rosparam command="load" file="$(find xiroi)/config/xiroi_frames.yaml"/>



</launch>