<launch>
  <arg name="namespace_arg" default="/xiroi" />
  <arg name="simulation" default="false" />


  <!-- PLACE -->
  <arg name="place" default="uib_pool.yaml"/>

  <group ns="$(arg namespace_arg)">

    <!-- VEHICLE FRAMES -->
    <rosparam command="load" file="$(find xiroi)/config/xiroi_frames.yaml"/>

    <!--DYNAMICS -->
    <include file="$(find xiroi)/launch/modules/dynamics.launch"/>

    <!--CONTROL-->
    <include file="$(find xiroi)/launch/modules/control.launch"/>

    <!--SENSORS-->
    <!--sudo nano /etc/rc.local-->
    <!--sudo chmod a+rw /dev/bus/usb/001/004-->
    <include file="$(find xiroi)/launch/modules/sensors.launch">
      <arg name="simulation" value="$(arg simulation)"/>
    </include>

    <!--THRUSTERS-->
    <!-- <include unless="$(arg simulation)" file="$(find xiroi)/launch/modules/bluerobotics_T200_arduino.launch"/> -->

    <!--TELEOPERATION-->
<!--     <include file="$(find xiroi)/launch/modules/teleoperation.launch">
      <arg name="isGS" value="$(arg simulation)"/>
    </include> -->

    <!--SAFETY-->
    <!--node pkg="xiroi" type="safety_node.py" name="safety_node" output="screen"/-->

    <!--TRANSFORMS-->
    <include file="$(find xiroi)/launch/modules/transforms.launch">
      <arg name="suffix" value="asc"/>
    </include>

    <!-- NED Origin -->
    <arg name="placesDir" default="$(find xiroi)/config/places"/>
    <rosparam command="load" file="$(arg placesDir)/$(arg place)"/>

  </group>
</launch>
